---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/translate?api_key=dc6zaTOxFJmzC&s=fail
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"xTiTnooneW4SYfch8Y","slug":"retrofunk-afv-xTiTnooneW4SYfch8Y","url":"http:\/\/giphy.com\/gifs\/retrofunk-afv-xTiTnooneW4SYfch8Y","bitly_gif_url":"http:\/\/gph.is\/1OMDIwt","bitly_url":"http:\/\/gph.is\/1OMDIwt","embed_url":"http:\/\/giphy.com\/embed\/xTiTnooneW4SYfch8Y","username":"retrofunk","source":"","rating":"g","content_url":"","user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/retrofunk\/ssNUMZsbJX0A.jpg","banner_url":"https:\/\/media2.giphy.com\/headers\/retrofunk\/zmgMcycBS0Ca.jpg","profile_url":"https:\/\/giphy.com\/retrofunk\/","username":"retrofunk","display_name":"RETROFUNK"},"source_tld":"","source_post_url":"","import_datetime":"2015-10-02
        19:30:11","trending_datetime":"2015-12-13 21:28:01","images":{"fixed_height":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200.gif","width":"322","height":"200","size":"2341571","mp4":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200.mp4","mp4_size":"238267","webp":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200.webp","webp_size":"737996"},"fixed_height_still":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200_s.gif","width":"322","height":"200"},"fixed_height_downsampled":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200_d.gif","width":"322","height":"200","size":"219913","webp":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200_d.webp","webp_size":"68134"},"fixed_width":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200w.gif","width":"200","height":"124","size":"1062305","mp4":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200w.mp4","mp4_size":"116497","webp":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200w.webp","webp_size":"381626"},"fixed_width_still":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200w_s.gif","width":"200","height":"124"},"fixed_width_downsampled":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200w_d.gif","width":"200","height":"124","size":"99733","webp":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/200w_d.webp","webp_size":"35362"},"fixed_height_small":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/100.gif","width":"161","height":"100","size":"762712","mp4":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/100.mp4","mp4_size":"89634","webp":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/100.webp","webp_size":"288378"},"fixed_height_small_still":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/100_s.gif","width":"161","height":"100"},"fixed_width_small":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/100w.gif","width":"100","height":"62","size":"337441","mp4":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/100w.mp4","mp4_size":"43240","webp":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/100w.webp","webp_size":"144044"},"fixed_width_small_still":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/100w_s.gif","width":"100","height":"62"},"downsized":{"url":"http:\/\/media.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy-tumblr.gif","width":"250","height":"155","size":"1429798"},"downsized_still":{"url":"http:\/\/media.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy-tumblr_s.gif","width":"250","height":"155"},"downsized_large":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy.gif","width":"508","height":"316","size":"4832668"},"downsized_medium":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy.gif","width":"508","height":"316","size":"4832668"},"original":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy.gif","width":"508","height":"316","size":"4832668","frames":"65","mp4":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy.mp4","mp4_size":"461960","webp":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy.webp","webp_size":"1415952"},"original_still":{"url":"http:\/\/media0.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy_s.gif","width":"508","height":"316"},"looping":{"mp4":"http:\/\/media.giphy.com\/media\/xTiTnooneW4SYfch8Y\/giphy-loop.mp4"}}},"meta":{"status":200,"msg":"OK"}}'
  recorded_at: Thu, 04 Feb 2016 05:04:44 GMT
recorded_with: VCR 3.0.1
