%footer.page-footer
  .container
    .center-align
      %h4.white-text “f u cn rd ths, u cn gt a gd jb n sftwr tstng.”
      %p.text-mid — Anonymous


      %span
        &copy; #{Time.now.year}
        = link_to "Ben Eggett", 'http://www.beneggett.com', target: "_blank"
